@model InventoryListViewModel

@{
    ViewData["Title"] = "Invetarier";
}
@foreach (var auctionItem in Model.AuctionItems)
{
    <div class="border">
        <partial name="_AuctionItemCard" model="auctionItem" />
        <div>
            <a asp-area="" asp-controller="Inventory" asp-action="Edit" asp-route-itemId="@auctionItem.AuctionItemId">Edit</a>
        </div>
    </div>

}