@{
    ViewData["Title"] = "Start";
}

<div>
    <h1>Välkommen till Gammalt Glimmer Ab</h1> <br />
    <p>Det här är en applikation skapad för Gammalt Glimmers personal.<br /> 
        Börja med att registrera dig, om du är auktionsansvarig kryssa i rutan för detta vid registrering. <br />
        Är du inköpare, registrera dig och kryssa inte i rutan auktionsansvarig vid registrering.<br />
    </p>
    <p>
        När du är inloggad kan du se menyn högst upp och välja vilka vyer du vill se och vad du vill skapa. <br />
        En inköpare ser endast sina egna skapade auktionsobjekt i menyvalen Invetarier eller Sålda objekt. <br />
        En inköpare kan skapa olika kategorier som kan tillsättas till varje auktionsobjekt. <br />
        En inköpare kan även redigera sina objekt om det behövs.<br />
        En auktionsansvarig ser däremot alla skapade objekt. Från alla användare. <br />
        En auktionsansvarig kan göra allt som en inköpare kan göra men har även fler funktioner när denne ska redigera ett auktionsobjekt.
    </p>
</div>
