@model InventoryListViewModel

@{
    ViewData["Title"] = "Sålda objekt";
}
@foreach (var auctionItem in Model.AuctionItems)
{
    <div class="form-group">
        <partial name="_AuctionItemCard" model="auctionItem" />
        <div class="col-md-offset-2 col-md-5">
            <a asp-area="" asp-controller="Inventory" asp-action="Edit" asp-route-itemId="@auctionItem.AuctionItemId" class="btn btn-primary">Redigera</a>
        </div>
    </div>
}